@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    min-height: 95vh;
    overflow-x: hidden;
}

main {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

a{
  transition: 0.5s;
}

/* ---------- HOME PAGE STYLING: ---------- */

#home-background{
    background: #00473E;
}

.home_page{
    max-height: 98vh;
}

.nav-list-item, .nav-list-search {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.5;
    list-style: none;
    list-style-position: inside;
    padding: 2rem 1rem 2.7rem 0.5rem;
    position: relative; 
    margin-left: 0.8rem;
    /*margin-top: 1.5rem;*/
    text-decoration: none;
    text-indent: 4rem;
}

.home-nav a {
    color: #ebebe3;
    text-decoration: none;
    transition: transform 0.3s;
}

/*----other nav design for the rest of the website:----*/

.other-nav a{
    color: #333;
    text-decoration: none;
    transition: transform 0.3s;
}
/*-----*/


.nav-list-item:hover, 
.nav-list-item:active{
    transform: scale(1.2);
}

.input-search-home{
  
  color: #ebebe3;
  border: none;
  background-color: transparent;
  background-image: url(images/icons/search-2.png);

  background-position: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.4rem 1.4rem; 
  border-bottom: 0.095rem solid rgb(255, 255, 255);
  width: 13.75rem;
  outline: none;
}

.input-search-home::placeholder{
   color: #ebebe3;
   opacity: 80%;
}

/*----other nav design for the rest of the website:----*/
.input-search{
  border: none;
  background-color: transparent;
  background-image: url(images/icons/search.png);

  background-position: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.4rem 1.4rem; 
  border-bottom: 0.095rem solid #333;
  width: 13.75rem;
  outline: none;
}
/*-----*/

.input-search-home::-webkit-search-decoration,
.input-search-home::-webkit-search-cancel-button,
.input-search-home::-webkit-search-results-button{
    display: none;
}

/*----other nav design for the rest of the website:----*/
.input-search::-webkit-search-decoration,
.input-search::-webkit-search-cancel-button,
.input-search::-webkit-search-results-button{
    display: none;
}
/*-----*/

#white-logo{
    display: block;
    width: 65%;
    height: 100%;
    flex-shrink: 0;

    margin-left: auto;
    margin-right: auto;
    margin-top: -6rem;
}

#woman{
    display: block;
    margin-left: 5rem;
    margin-right: auto;
    margin-top: -21rem;
}

/*  ---------- ABOUT PAGE STYLING ---------- */

.about_page{
    display: block;
    position: relative;
} 

.about_page img{
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
}

.about_page p{
    position: absolute;
    width: 40%;
    left: 54.5rem;
    top: 2rem;
    text-align: justify;
}

#back-to-top{
    color: #333;
    font-weight: bold;
    font-style: italic;
}



/*  ---------- SHOP STYLING ---------- */


.shop-main{
  max-height: 320vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.logo{
    display: block;
    flex-shrink: 0;
    position: relative;
    margin: 2rem 43.75rem 6.25rem;
    margin-bottom: 0.625rem;   
}

/* banner animation */
 @keyframes slide_next {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%); 
  }
}

.banner-container{
  white-space: nowrap;
}

.banner-container:hover .banners {
  animation-play-state: paused;
}

.banners{
  display: inline-block;
  animation: slide_next 35s infinite linear;
} 

 .banners .next {
  flex-shrink: 0;

}


.filters{
    color: #333;
    border-bottom: #333 ;
    display:inline-flex;
    /* flex direction then wrap */
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: left;
    align-content: space-evenly;
    padding: 0 3rem 2rem;
    max-width: fit-content;
    margin-left: 12.5rem;
  }
  
  .row-1{
    padding-right:7rem;
  }

  .row-2{
    padding-right: 10.625rem;
  }

  .clear-filter{
    text-decoration: none;
    color: #333;
  }

  .clear-filter:active{
    color: #74A58C;
  }
  
.row-1, .row-2{
    max-width: fit-content;
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
    align-content: space-evenly;
    justify-content: space-evenly;
    margin-inline: auto;
  }
  
.option{
    background-color: #74A58C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 0.213rem;
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    height: 1.5rem;
    width: 15vh;  
  }
  
.option:focus{
    background-color: #00473E;
    color: white;
  }
  
.category{
    color: #333;
    max-width: fit-content;
    /* padding: 1rem 2rem 0 2rem; */
    padding: 1rem 7rem;
  }

.line{
  background-color: #333;
  position: absolute;
  top: 43rem;
  left: 21rem;
  width: 0.063rem;
  height: 70rem;
  z-index: -1;
}
  
  
.heading{
    background-color: #74A58C;
    border-radius: 0.213rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 0.9rem;
    height: 1.5rem;
    padding-top: 0.15rem;
    text-align: center;
  }

  .product-display
  {
    border-top: #333 1px solid;
    display: flex;
    justify-content: center; 
    max-width: 990px;
    padding-left: 20px;
    margin: -40rem auto 0 23rem;
  }
  
  .product-display #star-rating{
   margin: 0.4rem 0 0.2rem 0;
  }

  .product-img{
    border: #ffffff 1px solid;
    border-radius: 9.5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:block;
    height: 69vh;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    max-width: 60vh;
    white-space: nowrap;
    margin: 2rem 0 0 ; 
  }
  
  .product{
    display: inline-block;
    margin-right: 0.94rem;
    /* width: 20%; */
  }

  .description-paragraph, .ingredients-list{
    text-align: justify;
    width: 91%;
  }
  
  /* horizontal scroll bar for products */
  
  .product-img::-webkit-scrollbar-thumb,
  .product-img::-webkit-scrollbar-track,
  .reviews::-webkit-scrollbar-thumb,
  .reviews::-webkit-scrollbar-track {
      border-radius: 90px;
    }
  
  .product-img::-webkit-scrollbar 
 {
    height: 0.75rem;
  }

  .reviews::-webkit-scrollbar{
    height:0.040rem;
  }

  .product-img::-webkit-scrollbar-thumb,
  .reviews::-webkit-scrollbar-thumb {
    background: #00473E;
  }
  
  .product-img::-webkit-scrollbar-track,
  .reviews::-webkit-scrollbar-track  {
    background: #d1d1d1;
  }
  
  .product-desc{
    max-width: 70vh;
    margin: 2rem 0 0 2rem;
  }
  
  .desc-icons{
    margin-right: 2rem;
  }
  
  .desc-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;  
  }
  
  .icon-labels{
    display: flex;
    flex-direction: column;
    margin: -11.55rem 4rem; 
    gap: 0.4rem;  
  }
  
  
  .checkout, .subscribe{
    background-color: #FAAE2B;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 0.213rem;
    color: #333;
    font-weight: bold;
    height: 1.5rem;
    
  }
  
  .checkout, #subscribe{
    width: 8vw;  
    margin: 9.5rem auto;
  }
  
  .checkout:active{
      background-color:#00473E;
      color: whitesmoke;
      transition: transform 0.5s ease-out;
  }
  
  .bag{
    margin:0 0.1rem ;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: filter var(0.3s);
  }
  
  #add-item{
    margin-left:0.5rem;
  }
  
  .bag:hover{
    filter: brightness(1.1);
  }
  
  .button:active{
    filter: brightness(0.9);
  }
  
  .bag > img {
    display: block;
    transition: transform var(0.3s) var(cubic-bezier(0.68, -0.6, 0.32, 1.6));
    z-index: 1;
  }
  
  .bag:hover > img{
    transform: scale(1.05);
  }
  
  .bag:active > img{
    transform: scale(0.95);
  }

   /* review section */
  
.reviews{
  display:block;
  padding-right: 0.938rem;
  text-align: justify;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  max-width: 60vh;
  height: 40%;
}

.box{
  
  background-color:#74A58C;
  border-radius: 0.213rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;

}


/* BLOG STYLING */

.blog-main{
  min-height: 220vh;
  display: flex;
  flex-direction: column;
}

.post-container{
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:-3rem 2rem ;
}

.post-card {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 3px 8px;
  border-radius: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 26.563rem;
  width: 30%;
  margin: 5rem 1.5rem 0;
  transition: 0.5s;
}

.post-card h3{
  font-size: 1em;
}

.post-card a{
  text-decoration: transparent;
  font-weight: bold;
  color:#74A58C;
}

.post-card:hover,
.post-card a:hover
{
  color: whitesmoke;
  background-color:#00473E;
}

.post-description{
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 11rem 1.5rem 0;
  min-height: 40rem;
}

#content-image-id{
 border-radius:1rem ;
  margin: 2rem;
  height: 40rem;
}

.content{
  margin-top: 2rem;
  margin-left: 12rem;
  font-size: large;
}

.content p{
  width: 75%;
  text-align: justify;
}

/* FOOTER STYLING  */

footer{
  position: relative;
  left: 0;
  bottom: 0;
  max-width: 100%;
  background-color: #00473E;

}

.footer-info{
  display: flex;
  padding: 0 3rem 3rem;
  
}

.footer-info a{
  position: relative;
  text-decoration: none;
  color: whitesmoke;
}

.footer-info a::after {
  display: block;
  content: "";
  bottom: 0;
  height:0.031rem;
  width: 0;
  background: none repeat scroll 0 0 transparent;
  background: whitesmoke;
  left: 50%;
  position: relative;

}

.foot{
  width: 35vh;
  padding-top: 1rem;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;

}

.text-box{
  border-radius: 0.213rem;
  height: 2rem;
}

#subscribe-text{
  background-color:whitesmoke;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  height: 1.3rem;
  outline: none;
}